# 1. Bloquear absolutamente todo en .config
/*

# 2. LISTA VIP: Permitir SOLO estas carpetas (el ! significa "No ignores esto")
!/hypr/
!/waybar/
!/rofi/
!/swaync/
!/swayosd/
!/fastfetch/
!/ghostty/
!/btop/
!README.md

# 3. Permitir que Git vea el propio archivo .gitignore
!.gitignore

# 4. Evitar archivos basura internos (Caché o Logs de errores)
**/*.log
**/cache/
